@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom styles here */
}

.btn-size {
  width: 4cm;
  height: 1.2cm;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print\\:block, .print\\:block * {
    visibility: visible;
  }
  .print\\:block {
    position: absolute;
    top: 0;
    left: 0;
  }
}
